html, body {
	margin: 0;
  padding: 0;
  background-color: black;
}


main {
	background: #ddd;
    background: linear-gradient(#ddd, #e8e8e8);
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin:0;
}

.thumb{
    width: 665px;
    height: 886px;
    margin: 70px auto;
    perspective: 1000px;
}

.affiche1 a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
		url(../images/2019-03-14-habitants-parrainage-simplon.jpg) no-repeat;
    background-size: 0, cover;
    background-size:100%;
    background-position: bottom;
    transform-style: preserve-3d;
    transition: all 0.5s;
    animation-name: overthrow;
  animation-duration: 40s;
  transform: rotateX(80deg);
  transform-origin: bottom;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;

}

.affiche2 a {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
  url(../images/carnaval.jpg) no-repeat;
  background-size: 100%, cover;
  background-position: bottom;
  transform-style: preserve-3d;
  transition: all 0.5s;
  animation-name: overthrow;
  animation-duration: 40s;
  transform: rotateX(80deg);
  transform-origin: bottom;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;


}

@keyframes overthrow {
  0% {
    transform: rotateX(80deg);
    transform-origin: bottom;
  }
  13% {
    transform: rotateX(0deg);
    transform-origin: bottom;
  }

  87% {
    transform: rotateX(0deg);
    transform-origin: bottom;
  }
100% {
transform: rotateX(80deg);
transform-origin:bottom;
}
}


.thumb a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.thumb a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 75%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}

.thumb a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}


body > footer div.animation-footer {
	background-color: #212529;
	text-align: center;
	color: transparent;
	overflow: hidden;
	font-size: 40px;
	backface-visibility: hidden;
	height: 400px;

}

body > footer div.animation-footer span {
	margin-top: 200px;
	display: inline-block;
	text-transform: uppercase;
	text-shadow: 0 0 0 whitesmoke;
	animation: smoke 5s 3s infinite;
}

body > footer div.animation-footer span:nth-child(even){
  animation-name: smoke-mirror;
}

@keyframes smoke {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform:
      translate3d(15rem,-8rem,0)
      rotate(-40deg)
      skewX(70deg)
      scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoke-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke; }
  to {
    transform:
      translate3d(18rem,-8rem,0)
      rotate(-40deg) 
      skewX(-70deg)
      scale(2);
     text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@for $item from 1 through 21 {
  span:nth-of-type(#{$item}){ 
    animation-delay: #{(3 + ($item/10))}s; 
  }